:root {
    --white: #ffff;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.loader-container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #025196;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color: #343F52;
    font-weight: 600;
    font-size: 36px;
}

/* navbar */

nav {
    height: 65px;
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav img {
    width: 200px;
    position: absolute;
    top: 20px;
    left: 12%;
}

nav ul {
    float: right;
    margin-right: 100px;
    margin-top: -30px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}


nav ul li a {
    position: relative;
    color: #FFFFFF;
    font-size: 14px;
    padding: 12px 0;
    transition: .1s;
}

nav .active-nav , nav ul li a:hover {
    font-weight: 600;
}

nav .active-nav a, nav ul li a:hover {
    border-bottom: 2px solid #FFFFFF;
}


nav .active-nav.active-color a, nav ul li a.active-color:hover {
    border-bottom: 3px solid #393939;
}

label {
    display: block;
    margin-top: 18px;
}

label #btn,
label #cancel {
    font-size: 30px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

label #cancel {
    color: #393939;
}

label #btn {
    color: var(--white);
}

#check {
    display: none;
}

nav.stickyadd {
    background-color: var(--white);
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.1);
    transition: .5s all ease-in-out;
}

@media (max-width: 860px) {
    nav img {
        left: 6%;
        top: 23px;
        z-index: -1;
    }

    nav ul li a {
        font-size: 17px;
    }

    nav label #btn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 101%;
        background: #FFFFFF;
        top: 2%;
        left: 100%;
        transition: all .5s;
        z-index: -1;
        padding-top: 15px;
        box-shadow: 4px 1px 8px black;
    }

    nav ul li {
        display: block;
        margin: 50px 17px;
        line-height: 15px;
        border-bottom: 1px solid;
        padding: 10px 0;
        width: 80%;
    }


    nav ul li a {
        color: #343F52 !important;
    }

    nav ul li a:before {
        display: none;
    }

    nav .active-nav a {
        font-weight: 600;
        border: none;
    }

    nav .active-nav.active-color a, nav ul li a.active-color:hover {
        border: none;
    }

    #check:checked ~ ul {
        left: 25px;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }

    nav ul li a:hover {
        border: none;
    }
}
/* contact-us page */

/* heading */
.contact-us .colored-sec {
    background: #025196;
    height: 350px;;
}

.contact-us .heading {
    padding-top: 110px;
}

.contact-us .heading p {
    color: var(--white);
    font-size: 14px;
}

.contact-us .heading h2 {
    color: var(--white);
    margin-top: -15px;
}

.contact-us .info .paragraph h4 {
    font-size: 14px;
}

@media (max-width: 767px) {
    .contact-us .heading h2 {
        font-size: 24px;
    }
}


/* contact-box */
.contact-us .container {
    padding: 0 10%;
    
}

.contact-us .container .contact-box {
    filter: drop-shadow(3px 3px 3px rgba(126, 125, 125, 0.3));
    margin-top: -100px;
    border-radius: 5px;
    background: var(--white);
    overflow: hidden;
}

.contact-us .container .row {
    height: 100%;
}

.contact-us .container .row .map {
    padding: 0;
    height: 100%;
}

.contact-us .container .row .map iframe {
    width: 100%;
    height: 100%;
}

.contact-us .container .contact-info {
    padding: 40px 20px;
}

.contact-us .container .contact-info .info {
    margin: 25px 0;
}

.contact-us .container .contact-info .info img{
    margin-right: 20px;
    margin-top: -9px;
    width: 18px;
}

.contact-us .container .contact-info h3 {
    font-size: 16px;
}

.contact-us .container .contact-info p {
    font-size: 14px;
    color: #343F52;
    margin-bottom: 7px;
}


@media (max-width: 992px) {
    .contact-us .container .row .map iframe {
        height: 130%;
    }

    .contact-us .container .contact-info {
        padding: 60px 30px 20px;
    }
}

/* form-title */
.contact-us .form-heading {
    margin-top: 20%;
}

.contact-us .form-heading p {
    font-size: 14px;
    color: #60697B;
    margin-top: -5px;
}

@media (max-width: 767px) {
    .contact-us .form-heading h2 {
        font-size: 24px;
    }
}

/* form */
.contact-us .form {
    margin-top: 60px;
}

.contact-us .form input, textarea {
    border: none;
    width: 100%;
    margin: 10px 0;
    box-shadow: 0 0 3px 0px #00000030;
    border-radius: 5PX;
    box-sizing: border-box;
    padding: 12px 14px;
    font-size: 14px;
}

.contact-us .form input {
    height: 45px;
}

.contact-us .form input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 3px 0px #0000007d;
}

.contact-us .form textarea {
    resize: none;
    height: 200px;
}

.contact-us .form .submit-btn {
    width: 200px;
    height: 1%;
    background: #025196;
    color: var(--white);
    font-weight: 500;
    font-size: 17px;
    padding: 11px 23px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: .3s;
}

.contact-us .form .submit-btn:hover {
    letter-spacing: .5px;
}

.contact-us .form label {
    font-size: 14px;
    margin: 0 0 7px 0;
    color: #da1e1e;
}


@media (max-width: 767px) {
    .contact-us .form .submit-btn {
        font-size: 15px;
        padding: 12px 30px;
        width: 215px;
    }

    .contact-us .form input, textarea {
        font-size: 12px;
    }
}


.contact-us #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
}


@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }

    50% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

