:root {
    --white: #ffff;
}

.white-color {
    color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.loader-container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #025196;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: #343F52;
}

p {
    color: #60697B;
}

/* main-components */
.heading {
    margin: 65px 0;
}

.heading h2 {
    font-size: 36px;
    font-weight: 400;
}

.heading p {
    color: #60697B;
    font-size: 14px;
    padding: 0 34%;
}

.more-info {
    border: none;
    background: none;
    color: #343F52;
    font-weight: 600;
}

.more-info span {
    margin: 0 8px;
    font-size: 14px;
    transition: .3s;
}

.more-info:hover {
    color: #025196;
}

.more-info:hover span {
    margin-left: 10px;
}

.main-button {
    background-color: #CA4E4B;
    border-radius: 5px;
    padding: 8px 30px;
    color: #ffff;
    font-weight: 600;
    border: none;
    transition: .3s;
}

.main-button:hover {
    letter-spacing: .5px;
}

.card {
    border: none;
}

@media (max-width: 860px) {
    .heading h2 {
        font-size: 24px;
    }

    .heading p {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .section-padding {
        padding: 0 30px;
    }
}

/* navbar */

nav {
    height: 65px;
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav img {
    width: 200px;
    position: absolute;
    top: 20px;
    left: 12%;
}

nav ul {
    float: right;
    margin-right: 100px;
    margin-top: -30px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}


nav ul li a {
    position: relative;
    color: #FFFFFF;
    font-size: 14px;
    padding: 12px 0;
    transition: .1s;
}

nav .active-nav,
nav ul li a:hover {
    font-weight: 600;
}

nav .active-nav a,
nav ul li a:hover {
    border-bottom: 2px solid #FFFFFF;
}


nav .active-nav.active-color a,
nav ul li a.active-color:hover {
    border-bottom: 3px solid #393939;
}

label {
    display: block;
    margin-top: 18px;
}

label #btn,
label #cancel {
    font-size: 30px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

label #cancel {
    color: #393939;
}

label #btn {
    color: var(--white);
}

#check {
    display: none;
}

nav.stickyadd {
    background-color: var(--white);
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.1);
    transition: .5s all ease-in-out;
}

@media (max-width: 860px) {
    nav img {
        left: 6%;
        top: 23px;
        z-index: -1;
    }

    nav ul li a {
        font-size: 17px;
    }

    nav label #btn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 101%;
        background: #FFFFFF;
        top: 2%;
        left: 100%;
        transition: all .5s;
        z-index: -1;
        padding-top: 15px;
        box-shadow: -1px 1px 12px #00000038;
    }

    nav ul li {
        display: block;
        margin: 50px 17px;
        line-height: 15px;
        border-bottom: 1px solid;
        padding: 10px 0;
        width: 80%;
    }

    nav ul li a {
        color: #343F52 !important;
    }

    nav ul li a:before {
        display: none;
    }

    nav .active-nav a {
        font-weight: 600;
        border: none;
    }

    nav .active-nav.active-color a,
    nav ul li a.active-color:hover {
        border: none;
    }

    #check:checked~ul {
        left: 25px;
    }

    #check:checked~label #btn {
        display: none;
    }

    #check:checked~label #cancel {
        display: block;
    }

    nav ul li a:hover {
        border: none;
    }
}

/* home */

/* slider */

.owl-carousel {
    width: 100%;
    height: 100vh;
}

.slide {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.slide-1 {
    background-image: url(../images/1\ desktop.png);
}

.slide-2 {
    background-image: url(../images/2\ desktop.png);
}

.slide-3 {
    background-image: url(../images/3\ desktop.png);
}

.slide-4 {
    background-image: url(../images/4\ desktop.png);
}

.slide-5 {
    background-image: url(../images/5\ desktop.png);
}

.slide-6 {
    background-image: url(../images/6\ desktop.png);
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-42%, -50%);
    z-index: 2;
    padding: 0 20px;
}

.slide-content img {
    height: 47px;
    width: 55px !important;
    margin-bottom: 15px;
}

.slide-content h1 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--white);
}

.slide-content p {
    font-size: 18px;
    color: var(--white);
}

.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 23%;
}

.owl-dots span {
    width: 7px !important;
    height: 7px !important;
}

.owl-dots button {
    border: none !important;
    outline: none !important;
    margin: -3px;
}

.owl-dots .active span {
    height: 10px !important;
    width: 10px !important;
    background: var(--white) !important;
}

.owl-nav button {
    border: none !important;
    outline: none !important;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white) !important;
    font-size: 60px !important;
    background: none !important;
}

.owl-prev {
    left: 12%;
}

.owl-next {
    right: 12%
}

@media (max-width: 860px) {
    .owl-nav button {
        display: none !important;
    }

    .owl-dots {
        bottom: 18%;
    }

    .slide-1 {
        background-image: url(../images/1\ mobile.png);
    }

    .slide-2 {
        background-image: url(../images/2\ mobile.png);
    }

    .slide-3 {
        background-image: url(../images/3\ mobile.png);
    }

    .slide-4 {
        background-image: url(../images/4\ mobile.png);
    }

    .slide-5 {
        background-image: url(../images/5\ mobile.png);
    }

    .slide-6 {
        background-image: url(../images/6\ mobile.png);
    }
}


@media (max-width: 787px) {
    .slide-content {
        width: 85%;
    }

    .slide-content h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .slide-content p {
        font-size: 16px;
    }

    .owl-dots {
        bottom: 10%;
    }
}


/* cards */

.home .row {
    margin-top: -100px;
    z-index: 1;
    overflow: hidden;
}

.home .row .details {
    margin: 20px 10px;
    background-color: #fff;
    padding: 10%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 13px rgba(163, 163, 163, 0.25);
    border-radius: 5px;
    height: 265px;
}

.home .row .details i {
    color: #025196d9;
    font-size: 28px;
    margin-bottom: 10px;
}

.home .row .details img {
    margin-bottom: 12px;
    height: 30px;
}

.home .row .details h3 {
    transition: 0.6s all;
    font-size: 18px;
    margin-bottom: 12px;
}

.home .row .details p {
    color: #60697B;
    font-size: 14px;
}

@media (max-width: 1024px) {
    .home .row .details {
        cursor: grab;
    }
}

@media (max-width: 860px) {
    .home .row {
        margin-top: -63px;
    }
}

@media (max-width: 787px) {
    .home .row .details {
        height: 245px;
        padding: 20px;
    }

    .home .row .details img {
        height: 25px;
    }

    .slider-sec .slider .details h3 {
        font-size: 16px;
    }

}

/* our-company */

.our-company .heading h2 {
    font-size: 36px;
    font-weight: 400;
}

.our-company .card {
    border: none;
    box-shadow: 0px 4px 13px rgba(163, 163, 163, 0.25);
    border-radius: 5px;
    height: 188px;
    justify-content: center;
    margin-bottom: 37px;
}

.our-company .row .bg-card {
    width: 128%;
    height: 130%;
    left: -14%;
    top: -19%;
    z-index: -1;
    background: #025196;
    color: var(--white);
    border-radius: 5px;
    padding: 6px;
}

.our-company .row .col-md-4 {
    margin-bottom: 50px;
    margin-top: 30px;
}

.our-company .card img {
    height: 55%;
}

.our-company .card .logo {
    height: 70px;
}

.our-company .row h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 32px;
}

.our-company .row h3 span {
    font-weight: 400;
    font-size: 16px;
}

.our-company .row p {
    font-size: 14px;
}

.our-company .row button {
    font-size: 16px;
}


.our-company .text:hover .more-info span {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .our-company .heading {
        margin: 0;
        padding: 0 10px;
    }

    .our-company .heading h2 {
        font-size: 24px;
    }

    .our-company .row .bg-card {
        width: 108%;
        left: -4%;
    }

    .our-company .margin {
        margin-top: 0% !important;
    }

    .our-company .row .text {
        padding: 0 23px;
    }

    .our-company .row h3 {
        font-size: 16px;
    }

    .our-company .row a {
        font-size: 14px;
    }

    .our-company .card {
        margin-bottom: 20px;
    }
}

/* our projects */

.projects {
    background-color: #F7FAFF;
}

@media (max-width: 767px) {
    .projects {
        background-color: #EDF2FC;
        ;
    }
}

.our-projects .info .title {
    font-size: 24px;
    font-weight: 600;
}

.our-projects .info .not-showing {
    margin: 0 0 5px 7px;
    color: #60697B;
    font-weight: 500;
    font-size: 18px;
}

.our-projects .row p {
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0;
    margin: 15px 0 30px 0;
}

.our-projects .row .our-pro-btn {
    background: #025196;
}

.our-projects .image {
    overflow-x: hidden;
}

.our-projects .image img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
}

.our-projects hr {
    color: #CFDAF0;
    margin-top: 5%;
}

@media (max-width: 1023px) {
    .our-projects .info .not-showing {
        display: none;
    }

    .our-projects .image img {
        height: 70%;
        margin-bottom: 20px;
    }
}

@media (max-width: 860px) {
    .our-projects .row .our-pro-btn {
        font-size: 14px;
    }

    .our-projects .info .title {
        font-size: 18px;
    }
}

/* our-prop */

.other-proj .head h3 {
    font-weight: 600;
    font-size: 24px;
    padding: 8px 0 0;
}

.other-proj .head a {
    color: #025196;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background: none;
    opacity: 0.8;
    transition: 0.3s;
}

.other-proj .head a span {
    margin-left: 6px;
    transition: .3s;
}

.other-proj .head a:hover {
    opacity: 1;
    color: #025196;
}

.other-proj .cards .card {
    border-radius: 5px;
    overflow: hidden;
}

.other-proj .cards .card img {
    transition: 0.3s;
    object-fit: cover;
    height: 250px;
}

.other-proj .cards .info {
    margin-bottom: 10%;
}

.other-proj .cards .info:hover h3,
.other-proj .cards .info:hover p,
.other-proj .cards .info:hover button {
    color: #025196;
}

.other-proj .cards .info:hover .more-info span {
    margin-left: 10px;
}

.other-proj .info h3 {
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}

.other-proj .info p {
    font-size: 14px;
    transition: 0.3s;
}

@media (max-width: 860px) {
    .other-proj {
        padding: 15px;
    }

    .other-proj .head h3 {
        font-size: 18px;
    }
}

.hover img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* select-language */
.dropbtn {
    background-color: var(--white);
    color: #025196;
    padding: 9px 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    z-index: 3;
    position: relative;
    font-size: 14px;
    min-width: 80px;
}

.dropbtn i {
    font-size: 14px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
    color: var(--white);
}

.dropdown {
    position: absolute;
    z-index: 5;
    top: 80px;
    right: 108px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    margin-top: -3px;
    border-radius: 0 0 5px 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

@media (max-width: 860px) {
    .dropdown {
        right: 35px;
        top: 65px;
    }

    .dropbtn i {
        font-size: 12px;
    }
    .dropdown-content a {
        color: #000;
        padding: 8px 16px;
        display: block;
    }
    .dropbtn {
        padding: 8px 14px;
    }
}
